.flex1 img{
    height: 30vh;
    width: 40vh;
    /* margin-left: 25%; */
    border: 2px solid whitesmoke;
    border-radius: 50%;
    
    
     }
    
.flex2 img{
    height: 30vh;
    width: 40vh;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}
.flex3 img{
    height: 30vh;
    width: 40vh;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}
.whole{
    display: flex;
    margin-top: 100px;

    /* flex-wrap: wrap; */
}
.flex1,.flex2,.flex3{
    /* border: 40vh; */
    border: 2px solid whitesmoke;
    justify-content: space-between;
    border-radius: 30px;
    margin: 5px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
body{
    background-color: cadetblue;

}
body h2{
    color: white;
    font-style: italic;
}
.whole h4{
    color: white;
    font-size: large;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    margin-top: 80px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    
}
.ol{
    display: flex;
    justify-content: space-around;
    padding: 12px 10px;
    margin: 20px;
    
  
}
.flex1,.flex2,.flex3 p{
    font-size: larger;
    margin-bottom: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: wheat;

}
ol{
    margin-top: 50px;
}
.logo img{
    height: 20vh;
    width: 25vh;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    margin-left: 15px;
    
}

.brand{
    display: flex;
}
.pup{
    margin-bottom: 80px;
}
.flex1{
    background: linear-gradient(white,black);
}
.flex2{
    background: linear-gradient(black,brown);
}
.flex3{
    background: linear-gradient(white,black);

}
.line {
    color: white;
    text-align: center;
}
.active{
    background-color: brown;
}

a{
    display: block;
    padding: 20px;
    color: white;
    
}
a:hover{
    background-color: black;
}
.line hr{
    width: 50%;
}

ol li{
    font-size: large;
}
/* ol a{
    padding: 16px 14px;
} */
@media screen and (max-width:500px) {
    /* body{
        background-color: aqua;


    } */
    .whole{
        display: flex;
        flex-direction: column;
        
    }
    
}


